#{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: brown;
    
}
.navbar{
    visibility: visible;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
ul li {
    float: left;
    width: 200px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
}
ul li a {
    text-decoration: none;
    display: block;
}
ul li a:hover {
    background-color: brown;
}
.none{
    display: none;
}
.none:hover{
 display: block;
}
#showcase{
    background-image: url(..images/ddd.png);
    height: 50vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0, 20px;
   float:center;
}

#showcase h1 {
    font-size: 40px;
    line-height: 1.2;
    }

#showcase p{
    font-size:20px;
}
.button{
    font-size: 18px;
    text-decoration: none;
    color: brown;
    border: white 10px solid;
    padding: 10px, 20px;
    border-radius: 10px;
    margin-top: 20px;
    text-align: center;
    align-items: center;
    align-content: center;
    display: flex;
}

.button:hover{
    background: brown;
    color: #fff;
    text-align: center;
    align-items: center;
    align-content: center;
}

#section-a {
    padding: 20px;
    background-color: rgb(45, 109, 165);
    text-align:center;
    color: #fff;
}

#section-c {
    -webkit-column-count: 3; 
  -moz-column-count: 3; 
  column-count: 3;
  display: flex;
  -moz-column-width: 100px; 
  column-width: 100px;
  background-image: url("images/ddd.png");
}

.footer{
 text-align: center;
 margin: 1px, 1px, 1px, 1px;
 color: blue;
}
#container {
    position: fixed;
    width: 340px;
    height: 280px;
    top: 30%;
    left: 50%;
    margin-top: -140px;
    margin-left: -170px;
    align-items: left;
    text-align: left;
    }