#{
    margin: 0;
    padding: 0;
}
body{
    margin-left:20px;
    margin-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: black;
    
}
/* navbar*/

/*.logo {
  overflow: hidden;
  background-color: white;
}
.topnav{
  background: red;
}
.navbar {

}

.topnav a {
  float: left;
  color: blue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
.navbar{
    visibility: visible;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
ul li {
    float: left;
    width: 200px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
}
ul li a {
    text-decoration: none;
    display: block;
}
ul li a:hover {
    background-color: brown;
}
.none{
    display: none;
}
.none:hover{
 display: block;
}
#showcase{
    
    height: 30vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0, 0px;
   
   position: static;
}
*/
.toggle-2,
.toggle,
[id^=drop] {
    display: none;
}

/* Giving a background-color to the nav container. */
nav {
    margin: 0;
    padding: 0;
}

#logo a {
    float: left;
    display: initial;
    font-size: 32px;
    color: #705ecf;
    text-shadow: 2px 5px 3px rgba(0, 0, 0, 0.06);
    padding: 0;
    font-weight: 600;
    width: 20%;
    height: 20%;
}

/* Since we'll have the "ul li" "float:left"
 * we need to add a clear after the container. */

nav:after {
    content: "";
    display: table;
    clear: both;
}

/* Removing padding, margin and "list-style" from the "ul",
 * and adding "position:reltive" */
nav ul {
    float: right;
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}

/* Positioning the navigation items inline */
nav ul li {
    margin: 0px;
    display: inline-block;
    float: left;
}

/* Styling the links */
nav a {
    color: #202428;
    font-size: 15px;
    letter-spacing: .5px;
    margin: 0 14px;
    font-weight: 400;
}

/* Background color change on Hover */

.menu li a.active,
nav a:hover,
nav ul ul li a:hover {
    color: #05b993;
}
#showcase h1 {
    font-size: 40px;
    line-height: 1.2;
    }

#showcase p{
    font-size:20px;
}

.button{
    font-size: 18px;
    text-decoration: none;
    color: brown;
    border: white 10px solid;
    padding: 10px, 20px;
    border-radius: 10px;
    margin-top: 20px;
    text-align: center;
    align-items: center;
    align-content: center;
    display: flex;
}

.button:hover{
    background: brown;
    color: #fff;
    text-align: center;
    align-items: center;
    align-content: center;
}

#section-a {
    padding: 20px;
    background-color: rgb(45, 109, 165);
    text-align:left;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
}
#section-a img {
  float: right;
  max-width: 100%;
  max-height: 100vh;
  top: 20%;
  /*padding-right: 20%;*/
}
#section-b h3{
     text-align: center;
     font-size: 25px;
}
#section-b {
  background-image: url("images/deliver.jpg")
}

#section-c {
    -webkit-column-count: 3; 
  -moz-column-count: 3; 
  column-count: 3;
  display: flex;
  -moz-column-width: 100px; 
  column-width: 100px;
  background-image: url("images/ddd.png");
}

.footer{
 text-align: center;
 margin: 1px, 1px, 1px, 1px;
 color: blue;
 border-style: solid;
 border-color: brown;
}
#container {
    position: fixed;
    width: 340px;
    height: 280px;
    top: 30%;
    left: 50%;
    margin-top: -140px;
    margin-left: -170px;
    align-items: left;
    text-align: left;
    }

  /*login form */
input[type=text], input[type=password] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
}
      
button {
    background-color: #4CAF50;
    color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
      }
      
      button:hover {
        opacity: 0.8;
      }
      
      .cancelbtn {
        width: auto;
        padding: 10px 18px;
        background-color: #f44336;
      }
      
     
      .container {
        padding: 16px;
      }
      
      span.psw {
        float: right;
        padding-top: 16px;
      }
      .autocomplete {
        position: relative;
        display: inline-block;
      }
      
      input {
        border: 1px solid transparent;
        background-color: #f1f1f1;
        padding: 10px;
        font-size: 16px;
      }
      
      input[type=text] {
        background-color: #f1f1f1;
        width: 100%;
      }
      
      input[type=submit] {
        background-color: DodgerBlue;
        color: blue;
        cursor: pointer;
      }
      .logon{
        background-image: url("deliver.jpg")
      }
      /*login form */
    
.cancel{
    text-align: center;
}

  
  
  